@font: 'Bahnschrift Condensed';
@font-color: rgb(255, 136, 0);
@back-color: rgb(32, 32, 32);

body{
  background: @back-color;
  .App-Menu{
    margin-bottom: 15px;
    width:800px;
    margin:auto;
    margin-bottom:25px;
    padding-bottom:1px;
    font-family: @font;

    
    
    .Menu-Buttons{
      padding-bottom: 5px;
      text-decoration: none;
      border-bottom: solid 2px #fff ; 
      padding-right:10px;
      padding-left:10px; 
      font-family: @font;
      color: @font-color;
      font-size:25px;  
      transition-duration:1.5s;
    }

    .Default-Location{
      cursor:pointer;
      border-bottom: solid 2px @font-color ; 
      box-shadow: 0 2px 1px -1px rgb(255, 115, 0);
    }

    .Menu-Buttons:hover{
      color: #fff;
      transform:scale(0.5);
    }

  }
  .App-Content{
    font-family: @font;
    
    .Homepage-Track-Box{
      background:green;
    }
    .Homepage-Album-Box{
      background:rgb(255, 0, 179);
    }
    .Homepage-Artist-Box{
      background:yellow;
    }

  }
  .notexist{
  display: none
  }
  .exist{
    display: block
    }
    .title{
      color:red;
    }
}








