body {
  background: #202020;
}
body .App-Menu {
  margin-bottom: 15px;
  width: 800px;
  margin: auto;
  margin-bottom: 25px;
  padding-bottom: 1px;
  font-family: 'Bahnschrift Condensed';
}
body .App-Menu .Menu-Buttons {
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: solid 2px #fff ;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Bahnschrift Condensed';
  color: #ff8800;
  font-size: 25px;
  transition-duration: 1.5s;
}
body .App-Menu .Default-Location {
  cursor: pointer;
  border-bottom: solid 2px #ff8800;
  box-shadow: 0 2px 1px -1px #ff7300;
}
body .App-Menu .Menu-Buttons:hover {
  color: #fff;
  transform: scale(0.5);
}
body .App-Content {
  font-family: 'Bahnschrift Condensed';
}
body .App-Content .Player {
  position: fixed;
  bottom: 0%;
  width: 1200px;
  height: 40px;
  background-color: #202020;
  display: none;
}
body .App-Content .Homepage-Track-Box {
  background: #2c2c2c;
  width: 50%;
}
body .App-Content .Homepage-Album-Box {
  padding: 10px 10px 10px 0px;
  background: #2c2c2c;
  height: 200px;
  width: 2102px;
  display: block;
}
body .App-Content .Homepage-Album-Box .Home-Single-Album {
  width: 200px ;
  height: 100%;
  float: left;
  margin-left: 10px;
}
body .App-Content .Homepage-Album-Box .Home-Single-Album .Single-Album-Details {
  color: white;
  font-size: 20px;
  margin-top: 50px;
  position: absolute;
}
body .App-Content .Homepage-Album-Box .Home-Single-Album .Img-Rand-Album {
  width: 200px ;
  height: 200px ;
  transition-duration: 1.2s;
  position: absolute;
}
body .App-Content .Homepage-Album-Box .Home-Single-Album .Img-Rand-Album:hover {
  opacity: 0.1;
}
body .App-Content .Homepage-Artist-Box {
  background: #2c2c2c;
}
body .notexist {
  display: none;
}
body .exist {
  display: block;
}
body .title {
  color: red;
}
body .main-buttonc {
  display: none;
}
