@font: 'Bahnschrift Condensed';
@font-color: rgb(255, 136, 0);
@back-color: rgb(32, 32, 32);
@back-item: rgb(44, 44, 44);

body{
  background: @back-color;
  .App-Menu{
    margin-bottom: 15px;
    width:800px;
    margin:auto;
    margin-bottom:25px;
    padding-bottom:1px;
    font-family: @font;

    
    
    .Menu-Buttons{
      padding-bottom: 5px;
      text-decoration: none;
      border-bottom: solid 2px #fff ; 
      padding-right:10px;
      padding-left:10px; 
      font-family: @font;
      color: @font-color;
      font-size:25px;  
      transition-duration:1.5s;
    }

    .Default-Location{
      cursor:pointer;
      border-bottom: solid 2px @font-color ; 
      box-shadow: 0 2px 1px -1px rgb(255, 115, 0);
    }

    .Menu-Buttons:hover{
      color: #fff;
      transform:scale(0.5);
    }

  }
  .App-Content{
    font-family: @font;

    
    .Player{
      position: fixed;
      bottom: 0%;
      width: 1200px;
      height: 40px;
      background-color:  @back-color;
      display: none;
      }
    
    .Homepage-Track-Box{
      background:@back-item;
      width:50%;
      
    }

    .Homepage-Album-Box{
      padding:10px 10px 10px 0px;
      background:@back-item;
      height:200px;
      width: 2102px;
      display:block;

      .Home-Single-Album{
        width: 200px ;
        height:100%;
        float:left;
        margin-left:10px;


       .Single-Album-Details{
         color:white;
         font-size:20px;
         margin-top:50px;
         position:absolute;
       }

        .Img-Rand-Album{
          width: 200px ;
          height:200px ;
          transition-duration: 1.2s;
          position: absolute;
            
          &:hover{
              opacity:0.1;
          }
        
          
        }

       
      }
    }
    .Homepage-Artist-Box{
      background:@back-item;
    }
  
   

  }
  .notexist{
  display: none
  }
  .exist{
    display: block
    }
    .title{
      color:red;
    }

    .main-buttonc{
      display:none;
    }
}







