@keyframes slider_box1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes slider_box2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes slider_box3 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
body {
  background: #202020;
  font-family: 'Bahnschrift Condensed';
  color: #c86400;
  z-index: 1;
  overflow-x: hidden;
  width: 1200px;
  margin: auto;
}
body .App-Menu {
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 1px;
}
body .App-Menu .Menu-Buttons {
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: solid 2px #fff ;
  padding-right: 10px;
  padding-left: 10px;
  color: #c86400;
  font-size: 25px;
  transition-duration: 1.5s;
}
body .App-Menu .Default-Location {
  cursor: pointer;
  box-shadow: 0 2px 1px -1px #ff7300;
}
body .App-Menu .Menu-Buttons:hover {
  color: #fff;
  transform: scale(0.5);
}
body .App-Content {
  margin: 0px auto;
  margin-top: 20px;
  z-index: 1;
}
body .App-Content .Player {
  position: fixed;
  bottom: 0%;
  width: 1200px;
  height: 40px;
  background-color: #202020;
  display: none;
}
body .App-Content .Homepage-Box {
  margin: 0px auto;
}
body .App-Content .Homepage-Box .Homepage-Track-Box {
  background: #2b2b2b;
  width: 600px;
  margin-top: 10px;
  display: inline;
  float: left;
  height: 1220px;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track {
  display: block;
  padding: 1% 0px 0.5% 0px;
  border-bottom: solid 1px #c86400;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track:hover {
  background: #6b6b6b;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Info-Box {
  margin-left: 110px;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Img {
  width: 100px;
  height: 100px;
  margin-top: 3px;
  float: left;
  position: absolute;
  border-radius: 5px;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Play-Icon {
  height: 70px;
  width: 70px;
  margin: 15px 0px 0px 15px;
  float: left;
  position: absolute;
  opacity: 0.5;
  cursor: pointer;
  transition-duration: 1s;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Play-Icon:hover {
  opacity: 0.7;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Author-Title {
  width: 10%;
  float: left;
  display: inline;
  color: white;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Name-Title {
  float: left;
  display: inline;
  color: white;
  margin-right: 10px;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Marquee-Author {
  display: inline;
  float: left;
  width: 90%;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Author {
  color: #c86400;
  overflow: visible;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Name {
  color: #c86400;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box {
  height: 70px;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Button-Favourite {
  width: 40px;
  height: 40px;
  margin-top: 4px;
  margin: 15px 0px  0px 0px;
  position: absolute;
  transition-duration: 2s;
  cursor: pointer;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-yt {
  width: 55px;
  height: 40px;
  margin: 16px 0px  0px 300px;
  position: absolute;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-spotify {
  width: 49px;
  height: 49px;
  margin: 13px 0px  0px 365px;
  position: absolute;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-soundcloud {
  width: 50px;
  height: 50px;
  margin: 13px 0px  0px 424px;
  position: absolute;
  z-index: 100;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-soundcloud,
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-spotify,
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-yt {
  transition-duration: 2s;
  filter: grayscale(0.8);
  cursor: pointer;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-soundcloud:hover {
  filter: grayscale(0);
  transform: rotateY(360deg);
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-spotify:hover {
  filter: grayscale(0);
  transform: rotateZ(360deg);
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-yt:hover {
  filter: grayscale(0);
  transform: rotateX(360deg);
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Button-Favourite:hover {
  transform: scale(1.2);
}
body .App-Content .Homepage-Box .Homepage-Albums-Box {
  background: #2b2b2b;
  height: 210px;
  width: 100%;
  padding: 10px 10px 10px 0px;
  display: block;
  overflow: hidden;
  border-bottom: solid 1px #c86400;
  border-top: solid 1px #c86400;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler {
  position: absolute;
  padding-top: 5px;
  width: 99% ;
  height: 210px;
  display: block;
  overflow: hidden;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler:hover .Homepage-Albums-Box1,
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler:hover .Homepage-Albums-Box2,
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler:hover .Homepage-Albums-Box3 {
  animation-play-state: paused;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Homepage-Albums-Box1 {
  position: absolute;
  margin: 0px auto;
  width: 100%;
  width: 2100px;
  display: inline-block;
  animation: slider_box1 60s linear infinite;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Homepage-Albums-Box2 {
  position: absolute;
  margin-left: 2100px;
  height: 100%;
  width: 2100px;
  float: left;
  display: inline-block;
  animation: slider_box2 60s linear infinite;
  animation-delay: 0s;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Homepage-Albums-Box3 {
  position: absolute;
  margin-left: 2100px;
  height: 100%;
  width: 2100px;
  float: left;
  display: inline-block;
  animation: slider_box3 60s linear infinite;
  animation-delay: 30s;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album {
  width: 200px ;
  height: 200px;
  position: static;
  margin-left: 10px;
  float: left;
  box-shadow: 0px 0px 5px #000;
  border-radius: 3px;
  cursor: pointer;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album:hover {
  z-index: 999;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album:hover .Single-Album-Image {
  opacity: 0.1;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album:hover .Single-Album-Details {
  display: block;
  box-shadow: 0px 0px 5px #FFF;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album .Single-Album-Details {
  display: none;
  background-color: #2b2b2b;
  min-width: 180px;
  min-height: 160px;
  max-width: 180px;
  padding: 20px 10px 20px 10px;
  position: absolute;
  text-align: center;
  white-space: normal;
  border-radius: 5px;
  transition-duration: 1s;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album .Single-Album-Details .Single-Album-Title {
  font-weight: bold;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album .Single-Album-Image {
  width: 200px ;
  height: 200px ;
  border-radius: 5px;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album .Single-Album-Image:hover {
  transition-duration: 1s;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box {
  background: #2b2b2b;
  margin: 10px 0px 0px 610px;
  width: 600px;
  height: 1220px;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists {
  display: block;
  padding: 1% 0px 54px 0px;
  border-bottom: solid 1px #c86400;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Random-Artists-IMG {
  width: 100px;
  height: 100px;
  margin-top: 3px;
  float: left;
  position: absolute;
  border-radius: 5px;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Random-Artists-Info-Box {
  margin-left: 110px;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Random-Artists-Info-Box .Random-Artists-Genres-Title {
  width: 21.2%;
  float: left;
  display: inline;
  color: white;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Random-Artists-Info-Box .Random-Artists-Marquee {
  width: 78.8%;
  display: inline;
  float: left;
}
body .App-Content .Homepage-Box .Title-Box {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #c86400;
  background: #202020;
}
body .App-Content .Homepage-Box .Title-Boxx {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #202020;
}
body .notexist {
  display: none;
}
body .exist {
  display: block;
}
body .title {
  color: red;
}
body .main-buttonc {
  display: none;
}
