@keyframes slider_box1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes slider_box2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes slider_box3 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
body {
  background: #202020;
  font-family: 'Bahnschrift Condensed';
  color: #c86400;
  z-index: 1;
  overflow-x: hidden;
  width: 1200px;
  margin: auto;
}
body .App-Menu {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
body .App-Menu .Menu-Buttons {
  background-color: #2b2b2b;
  color: #6b6b6b;
  text-decoration: none;
  border-bottom: solid 1px #c86400;
  border-top: solid 1px #c86400;
  padding: 10px;
  font-size: 25px;
  transition-duration: 1s;
  outline: none;
}
body .App-Menu .Default-Location {
  color: #c86400;
}
body .App-Menu .Menu-Buttons:hover {
  cursor: pointer;
  color: #FFF;
  outline: none;
}
body .App-Menu .Menu-Buttons:focus {
  outline: none;
}
body .App-Content {
  margin: 0px auto;
  margin-top: 20px;
  z-index: 1;
}
body .App-Content .Right-Clear {
  margin-top: -10%;
  margin-left: 1200px;
  position: fixed;
  width: 2000px;
  height: 110%;
  background-color: #202020;
  float: right;
  z-index: 1000;
}
body .App-Content .Player-Box {
  border-top: 1px solid;
  position: fixed;
  width: 1200px;
  height: 70px;
  background-color: #202020;
  bottom: 0%;
  display: none;
  margin: auto;
}
body .App-Content .Player-Box .Track-Name-Audio {
  width: 1200px;
  display: inline;
  float: left;
  height: 20px;
  margin-top: 5px;
  position: absolute;
  text-align: center;
}
body .App-Content .Player-Box .Player {
  position: fixed;
  bottom: 0%;
  width: 1200px;
  height: 35px;
  margin-bottom: 4px;
  background-color: #202020;
  display: inline;
  float: left;
}
body .App-Content .Searching-Bar {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
body .App-Content .Searching-Bar .Searching-Field {
  border: none;
  text-align: center;
  text-align-last: center;
  width: 800px;
  font-size: 20px;
  padding: 10px;
  color: #c86400;
  background-color: #2b2b2b;
}
body .App-Content .Searching-Bar .Searching-Field:focus {
  border-color: #c86400;
  border: none;
  outline: none;
}
body .App-Content .Searching-Bar .Searching-Limit {
  border: none;
  text-align: center;
  text-align-last: center;
  font-size: 20px;
  padding: 10px;
  border-left: solid 1px #c86400;
  color: #c86400;
  background-color: #2b2b2b;
  outline: none;
}
body .App-Content .Searching-Bar .Searching-Options {
  padding-left: calc(49%);
  border: none;
  text-align: center;
  color: #c86400;
}
body .App-Content .Title-Box {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #c86400;
  background: #202020;
}
body .App-Content .Title-Boxx {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #202020;
}
body .App-Content .Homepage-Box {
  margin: 0px auto;
}
body .App-Content .Homepage-Box .Homepage-Track-Box {
  background: #2b2b2b;
  width: 600px;
  margin-top: 10px;
  display: inline;
  float: left;
  height: 1340px;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track {
  display: block;
  padding: 10px 0px 0px 10px;
  border-bottom: solid 1px #c86400;
  height: 118px;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track:hover {
  background: #6b6b6b;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Info-Box {
  margin-left: 110px;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Img {
  width: 100px;
  height: 100px;
  margin-top: 3px;
  float: left;
  position: absolute;
  border-radius: 5px;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Play-Icon {
  height: 70px;
  width: 70px;
  margin: 15px 0px 0px 15px;
  float: left;
  position: absolute;
  opacity: 0.5;
  cursor: pointer;
  transition-duration: 1s;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Play-Icon:hover {
  opacity: 0.7;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Author-Title {
  width: 11%;
  float: left;
  display: inline;
  color: white;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Name-Title {
  float: left;
  display: inline;
  color: white;
  margin-right: 10px;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Marquee-Author {
  float: left;
  width: 90%;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Author {
  color: #c86400;
  overflow: visible;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Name {
  color: #c86400;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box {
  height: 70px;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Button-Favourite {
  width: 40px;
  height: 40px;
  margin-top: 4px;
  margin: 15px 0px  0px 0px;
  position: static;
  transition-duration: 2s;
  cursor: pointer;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-yt {
  width: 55px;
  height: 40px;
  margin: 16px 0px  0px 260px;
  position: absolute;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-spotify {
  width: 49px;
  height: 49px;
  margin: 13px 0px  0px 325px;
  position: absolute;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-soundcloud {
  width: 50px;
  height: 50px;
  margin: 13px 0px  0px 384px;
  position: absolute;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-soundcloud,
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-spotify,
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-yt {
  transition-duration: 2s;
  filter: grayscale(0.8);
  cursor: pointer;
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-soundcloud:hover {
  filter: grayscale(0);
  transform: rotateY(360deg);
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-spotify:hover {
  filter: grayscale(0);
  transform: rotateZ(360deg);
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Comunity-Portal-yt:hover {
  filter: grayscale(0);
  transform: rotateX(360deg);
}
body .App-Content .Homepage-Box .Homepage-Track-Box .Single-Track .Single-Track-Icon-Box .Single-Track-Button-Favourite:hover {
  transform: scale(1.2);
}
body .App-Content .Homepage-Box .Homepage-Albums-Box {
  background: #2b2b2b;
  height: 210px;
  width: 100%;
  padding: 10px 0px 10px 0px;
  display: block;
  overflow: hidden;
  border-bottom: solid 1px #c86400;
  border-top: solid 1px #c86400;
  box-shadow: inset 15px 0px 15px 3px #2b2b2b;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Album-Box-Left-Smooth {
  position: absolute;
  margin-top: -10px;
  height: 230px;
  width: 40px;
  z-index: 999;
  box-shadow: inset 15px 0px 15px -2px #2b2b2b;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Album-Box-Right-Smooth {
  float: right;
  margin-left: 1160px;
  margin-top: -10px;
  position: absolute;
  height: 230px;
  width: 40px;
  z-index: 999;
  box-shadow: inset -15px 0px 15px 2px #2b2b2b;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler {
  position: absolute;
  padding-top: 5px;
  width: 99% ;
  height: 210px;
  display: block;
  overflow: hidden;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler:hover .Homepage-Albums-Box1,
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler:hover .Homepage-Albums-Box2,
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler:hover .Homepage-Albums-Box3 {
  animation-play-state: paused;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Homepage-Albums-Box1 {
  position: absolute;
  margin: 0px auto;
  width: 100%;
  width: 2100px;
  display: inline-block;
  animation: slider_box1 60s linear infinite;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Homepage-Albums-Box2 {
  position: absolute;
  margin-left: 2100px;
  height: 100%;
  width: 2100px;
  float: left;
  display: inline-block;
  animation: slider_box2 60s linear infinite;
  animation-delay: 0s;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Homepage-Albums-Box3 {
  position: absolute;
  margin-left: 2100px;
  height: 100%;
  width: 2100px;
  float: left;
  display: inline-block;
  animation: slider_box3 60s linear infinite;
  animation-delay: 30s;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album {
  width: 200px ;
  height: 200px;
  position: static;
  margin-left: 10px;
  float: left;
  box-shadow: 0px 0px 5px #000;
  border-radius: 3px;
  cursor: pointer;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album:hover {
  z-index: 998;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album:hover .Single-Album-Image {
  opacity: 0.1;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album:hover .Single-Album-Details {
  display: block;
  box-shadow: 0px 0px 5px #FFF;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album .Single-Album-Details {
  display: none;
  background-color: #2b2b2b;
  min-width: 180px;
  min-height: 160px;
  max-width: 180px;
  padding: 20px 10px 20px 10spx;
  position: absolute;
  text-align: center;
  white-space: normal;
  border-radius: 5px;
  transition-duration: 1s;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album .Single-Album-Details .Single-Album-Title {
  font-weight: bold;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album .Single-Album-Image {
  width: 200px ;
  height: 200px ;
  border-radius: 5px;
}
body .App-Content .Homepage-Box .Homepage-Albums-Box .Homepage-Albums-Animation-Handler .Single-Album .Single-Album-Image:hover {
  transition-duration: 1s;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box {
  background: #2b2b2b;
  margin: 10px 0px 0px 610px;
  width: 600px;
  height: 1340px;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists {
  display: block;
  padding: 10px 0px 0px 0px;
  border-bottom: solid 1px #c86400;
  height: 118px;
  padding-left: 10px;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists:hover {
  background: #6b6b6b;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Random-Artists-IMG {
  width: 100px;
  height: 100px;
  margin-top: 3px;
  float: left;
  position: absolute;
  border-radius: 5px;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Random-Artists-Info-Box {
  margin-left: 110px;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Random-Artists-Info-Box .Random-Artists-Genres-Title {
  width: 22.5%;
  float: left;
  display: inline;
  color: white;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Random-Artists-Info-Box .Random-Artists-Marquee {
  width: 77.5%;
  display: inline;
  float: left;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Random-Artists-Info-Box .Random-Artists-Genres-Titlee {
  margin-right: 6px;
  float: left;
  display: inline;
  color: white;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Single-Track-Icon-Box .Single-Track-Comunity-Portal-fb {
  width: 47px;
  height: 47px;
  margin: -8px 0px 0px 410px;
  position: absolute;
  border-radius: 5px;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Single-Track-Icon-Box .Single-Track-Comunity-Portal-tw {
  width: 48px;
  height: 46px;
  margin: -7px 0px 0px 467px;
  position: absolute;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Single-Track-Icon-Box .Single-Track-Comunity-Portal-pinterest {
  width: 50px;
  height: 50px;
  margin: -9px 0px 10px 524px;
  position: absolute;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Single-Track-Icon-Box .Single-Track-Comunity-Portal-fb,
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Single-Track-Icon-Box .Single-Track-Comunity-Portal-tw,
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Single-Track-Icon-Box .Single-Track-Comunity-Portal-pinterest {
  transition-duration: 2s;
  filter: grayscale(0.8);
  cursor: pointer;
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Single-Track-Icon-Box .Single-Track-Comunity-Portal-fb:hover {
  filter: grayscale(0);
  transform: rotateX(360deg);
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Single-Track-Icon-Box .Single-Track-Comunity-Portal-tw:hover {
  filter: grayscale(0);
  transform: rotateZ(360deg);
}
body .App-Content .Homepage-Box .Homepage-Artist-Box .Random-Artists .Single-Track-Icon-Box .Single-Track-Comunity-Portal-pinterest:hover {
  filter: grayscale(0);
  transform: rotateY(360deg);
}
body .Scroll-Up {
  width: 30px;
  height: 25px;
  bottom: 0px;
  margin-left: 590px;
  position: fixed;
  cursor: pointer;
  filter: grayscale(1);
  transition-duration: 1s;
  z-index: 999;
}
body .Scroll-Up:hover {
  transform: scale(1.2);
}
body .Scroll-And-Audio {
  bottom: 70px;
}
body .App-Content-bottom {
  height: 1390px !important;
}
body .notexist {
  display: none;
}
body .exist {
  display: block;
}
body .title {
  color: red;
}
body .main-buttonc {
  display: none;
}
