body{
    background: rgb(63, 63, 63);
    color: white;
    font-family: 'Arial';

}
.App-Menu{
    margin-left:auto;
    text-align:center;
}
.App-Contener{
    margin-top:10px;
    padding-top:20px;
    color:red;
    width:100%;
    border-top: solid 1px white;
}

.main-button{
    margin-right:10px;
    margin-bottom:10px;
    margin-top:13px;
    cursor: pointer;

}
.Home-Page{
    float:left;
    margin-top:0px;
}